{block #content}

<h2>stávající banner<h2>

<div class="container">
<img  class="banner" src="{$basePath}/static/img/content/banner.jpg">
</div>

<div class="container">
    <button type="button" class="btn btn-info btn-small">
    <span class="glyphicon glyphicon-picture"></span> Nahrát nový banner
    </button>
</div>
{* stary bannery do galerie *
{/block}
