{block #content}
<div class="jumbotron">
<img  class="banner" src="{$basePath}/static/img/content/baner_bartAKTUAL.jpg">
</div>
{/block}

{block #hiddenClass}
style="display:none;"
{/block}

{block #preloader}
    <div id="preloader">
    </div>

<script type="text/javascript">
$(window).load( function () {
    $('#preloader').delay(3000).fadeOut(500, function() { 
        $(this).remove();
        $('#content').fadeIn();
    } );
});
</script>
{/block}
