<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Opera na cestách</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{$basePath}/static/css/bootstrap.css" rel="stylesheet">
    <link href="{$basePath}/static/css/site-dependent.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{$basePath}/static/js/vendor/bs3/bootstrap.min.js"></script>

    <script src="{$basePath}/static/js/site-dependent.js"></script>
  </head>
  <body>
    {block #preloader}{/block}
<div id="content" {block #hiddenClass}{/block}>  
<header class="navbar navbar-inverse header-outer navbar-static-top" role="banner">
    <div class="container form-inline">
        <a href="{$basePath}">
            <img src="{$basePath}/static/img/layout/logo.jpg" alt="Image" id="logo"
                class="img-responsive pull-left"/>
        </a>

        <div class="navbar-collapse collapse padding-top pull-right">
          <ul class="nav navbar-nav">
            <li><a href="{$basePath}/admin/">Hl. strana administrace</a></li>
            <li><a href="{$basePath}/admin/news">Aktuality</a></li>
            <li><a href="{$basePath}/admin/mainBanner">Změnit Banner</a></li>
            <li><a n:href="Default:logout">odhlásit se</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>


    <div class="container">
        <div n:if="count($flashes)>0" id="flashmessages">
            <div n:foreach="$flashes as $flash"
                class='flashmessage {$flash->type} alert alert-{$flash->type}'>{$flash->message}
            </div>
        </div>

        {block #content}{/block}
    </div> <!-- /container -->
    <div class="flush"></div>
</div>

</div>
  </body>
</html>


