.padding-top {
    padding-top: 100px;
}

img.banner {
    width: 100%;
}

div#preloader {
    z-index 9999 !important;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background: url('../img/layout/web_uvod.jpg');
}


html, body {
  height: 100%;
}


#content {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 260px;
}



.footer {
  color:#222;
  background-color: #555;
  border-top: solid 2px #222; 
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 







