{block #content}
<div class="container">
<h1>Hlavní strana administrace</h1>
<p>
Menu má zatím tyto položky.
<ul>
<li>v <a href="{$basePath}/admin/news">Aktualitách</a> lze přidat/upravit/odebrat nějakou zprávičku,news, etc.</li>
<li>
Ve <a href="{$basePath}/admin/mainBanner">Změnit Banner</a> se dá nahrát nový banner</li>
<li>
administrace pro <a n:href="Press:default">tiskové zprávy</a>
</li>
<li>
Odhlásit se je na odhlášení z admin sekce.
</li>
</ul>
</p>
</div>
{/block}




