<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Opera na cestách</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{$basePath}/static/css/bootstrap.css" rel="stylesheet">
    <link href="{$basePath}/static/css/site-dependent.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {*<script src="https://code.jquery.com/jquery.js"></script>*}

    <script src="{$basePath}/static/js/vendor/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{$basePath}/static/js/vendor/bs3/bootstrap.min.js"></script>

    <script src="{$basePath}/static/js/site-dependent.js"></script>
  </head>
  <body>
   {* {block #preloader}{/block} *}
<div id="content" >  
<header class="navbar navbar-inverse header-outer navbar-static-top" role="banner">
    <div class="container form-inline">
        <a href="{$basePath}">
            <img src="{$basePath}/static/img/layout/logo_inverted_wee.jpg" alt="OnC Logo" id="logo"
                class="img-responsive pull-left"/>
        </a>

        <div class="navbar-collapse collapse padding-top pull-right logo_background" >
          <ul class="nav navbar-nav">
            <li><a class="section-news"     href="{$basePath}/news">Aktuality</a></li>
            <li><a class="section-about"    href="{$basePath}/about">O nás</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle section-projects" data-toggle="dropdown">Naše projekty <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li><a  href="{$basePath}/projects">O našich projektech</a></li>
                    {if count($projectListFuture) > 0}
                        <li class="divider"></li>
                        <li class="dropdown-header">Plánované</li>
                        {foreach $projectListFuture as $p}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1"
                                href="{$basePath . '/projects/' . $p['slug']}">
                            {$p['header_short']}
                            </a>
                        </li>
                        {/foreach}
                    {/if}
                    {if count($projectListPast) > 0}
                        <li class="dropdown-header">Uskutečněné</li>
                        {foreach $projectListPast as $p}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1"
                                href="{$basePath . '/projects/' . $p['slug']}">
                            {$p['header_short']}
                            </a>
                        </li>
                        {/foreach}
                    {/if}
                </ul>
            </li>
            <li><a class="section-kids"     href="{$basePath}/kids-section">Dětská sekce</a></li>
            <li><a class="section-tickets"  href="{$basePath}/tickets">Vstupenky</a></li>
            <li><a class="section-patrons"  href="{$basePath}/benefactor-programme">Klub mecenášů</a></li>
            <li><a class="section-promo"    href="{$basePath}/promo">Pro novináře</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>


    <div class="container">
        <div n:if="count($flashes)>0" id="flashmessages">
            <div n:foreach="$flashes as $flash"
                class='flashmessage {$flash->type} alert alert-{$flash->type}'>{$flash->message}
            </div>
        </div>
    <!-- Main component for a primary marketing message or call to action -->
            {block #content}{/block}
    </div> <!-- /container -->
    <div class="flush"></div>
</div>
<div class="footer">
<div class="container">
<p class="pull-left">Copyright &copy;2014 
    <em>Opera na cestách</em>
</p>
<p class="pull-right">
    created and maintained by <a href="#" rel="author">scottyshek</a>.
</p>
</p>
</div>
</footer>
</div>
  </body>
</html>


